@import "./functions";

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 5% repeat(4, 1fr) 5%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header header header header"
    "main main main main main main"
    "footer footer footer footer footer footer";
  row-gap: 1em;
  column-gap: 1em;
  background-color: $medium-gray;
  margin: 0;
  padding: 0;

  @media screen and (min-width: $size-sm) {
    grid-template-areas:
      "header header header header header header"
      ". main main main main ."
      "footer footer footer footer footer footer";
  }

  @media screen and (min-width: $size-md) {
    grid-template-areas:
      "header header header header header header"
      ". main main main main ."
      "footer footer footer footer footer footer";
  }

  @media screen and (min-width: $size-lg) {
    grid-template-areas:
      "header header header header header header"
      ". main main main .  ."
      "footer footer footer footer footer footer ";
  }
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-self: start;
  align-items: center;

  nav {
    min-width: 20em;
    display: flex;
    justify-content: space-around;
  }

  @media screen and (max-width: $size-md) {
    flex-direction: column;
    align-items: center;

    nav {
      margin: 1em 0;
    }
  }
}

main {
  grid-area: main;
  align-self: start;

  section {
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
    background-color: $white;
    padding: 1em;
    margin-bottom: 1em;

    &.contact-me {
      grid-template-columns: 1fr;
      grid-template-areas: "title";
    }

    &.portfolio {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "title title title";

      @media screen and (max-width: $size-lg) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "title title";
        justify-items: center;
        h1 {
          justify-self: start;
        }
      }

      @media screen and (max-width: $size-md) {
        grid-template-columns: 1fr;
        grid-template-areas: "title";
        justify-items: center;
        h1 {
          justify-self: center;
        }
      }

      .portfolio-item {
        position: relative;
        .portfolio-title {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $green;
          color: $white;
          position: absolute;
          width: rem(300px);
          bottom: rem(75px);
          text-decoration: none;

          &:hover {
            background-color: darken($color: $green, $amount: 10);
          }
        }
      }
    }

    h1 {
      grid-area: title;
      margin-top: 0;
      @media screen and (max-width: $size-sm) {
        justify-self: center;
      }
    }

    &.about-me {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "title title title title"
        "picture content content content";

      @media screen and (max-width: $size-sm) {
        grid-template-areas:
          "title title title title"
          ". picture picture ."
          "content content content content";
      }

      img {
        grid-area: picture;

        @media screen and (max-width: $size-sm) {
          justify-self: center;
        }
      }

      .content {
        grid-area: content;
        display: flex;
        justify-content: space-between;
        p {
          max-width: 60ch;
          margin-top: 0;
        }

        @media screen and (max-width: $size-md) {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-gray;
  border-top: 2px solid $green;
  min-height: 2em;
}
