header {
  background-color: $white;
  .logo {
    background-color: $green;
    color: $white;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0.25em 0.15em;
    margin: 0.25em 0;
  }
  nav {
    a {
      text-decoration: none;
      color: $dark-gray;

      &.active {
        color: $black;
      }

      &:hover {
        color: $black;
      }
    }
  }
}
