// Colors

$green: #4baaa4;
$dark-gray: #666666;
$medium-gray: #ebebeb;
$white: #fff;
$black: #000;

// Typography
$font-family-sans: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$font-family-serif: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

// Sizes
$size-sm: 700px;
$size-md: 860px;
$size-lg: 1160px;
